.posts-list {
  overflow: auto;
  height: 100%;
  margin: 0 auto;
  @media (min-width: 1024px) {
    padding: 1rem 10%;
  }
  @media (min-width: 1200px) {
    padding: 1rem 16%;
  }
  &__controls {
    padding: 1rem 2rem;
    margin: 0.5rem;
    display: none;
    justify-content: space-between;
    @media (min-width: 1024px) {
      display: flex;
    }
  }
  &__button {
    border-radius: var(--border-radius);
    background-color: var(--color-button);
    padding: 1rem 2rem;
    &:hover {
      background-color: var(--color-button-hover);
    }
  }
}
