.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--color-sm-post-bg);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: 0px -2px 2px 2px rgba(0, 0, 0, 0.25);
  @media (min-width: 1024px) {
    display: none;
  }
  button {
    width: 40px;
    height: 40px;
  }
}
