.post-page {
  width: 100%;
  padding: 0.5rem;
  overflow: auto;
  height: 100%;
  background-color: snow;
  @media (min-width: 1024px) {
    padding: 1rem 10%;
  }
  @media (min-width: 1200px) {
    padding: 1rem 16%;
  }
  &__title {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    @media (min-width: 1200px) {
      font-size: 1.5rem;
    }
  }
  &__meta {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-family: "PT Mono", monospace;
    font-size: 0.8rem;
    background-color: var(--color-second);
    padding: 0.5rem;
    border-radius: var(--border-radius);
  }
  &__comments-container {
    height: 100%;
    width: 100%;
    ul ul {
      padding-left: 2rem;
    }
  }
}
.post-page-top {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1.5rem;
}
