.sidenav {
  padding: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  background-color: var(--color-sidenav-bg);
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  &__close {
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: relative;
    text-align: right;
    align-self: flex-end;
    span {
      position: absolute;
      display: block;
      width: 32px;
      height: 2px;
      top: calc(50% - 2px);
      transition: transform 0.5s ease;
      &:first-of-type {
        transform: rotate(45deg);
        background-color: var(--color-text);
      }
      &:last-of-type {
        transform: rotate(135deg);
        background-color: var(--color-text);
      }
    }
    &:hover span {
      &:first-of-type {
        transform: rotate(45deg) translate3d(1px, 0px, -30px) scale(1.2);
        z-index: 10;
        background-color: var(--color-text);
      }
      &:last-of-type {
        transform: rotate(135deg) translate3d(-1px, 0px, 15px) scale(1.1);
        background-color: gray;
      }
    }
  }
  &__link {
    font-size: 3.5rem;
    color: transparent;
    -webkit-text-stroke: 2px #444444;
    &:hover {
      color: var(--color-accent);
      -webkit-text-stroke: 1px #444444;
    }
    &--tbd {
      text-decoration: line-through;
      text-decoration-color: #444444;
      &:hover {
        color: transparent;
        -webkit-text-stroke: 2px #444444;
      }
    }
  }
}
.sidenav-list {
  flex: 1 0 auto;
}
.sidenav-footer {
  flex-shrink: 0;
  display: flex;
  flex-flow: row wrap;
  &__item {
    padding: 0.5rem;
    flex: 1 1 30%;
    cursor: pointer;
    &:hover {
      color: var(--color-accent);
    }
    &--tbd {
      text-decoration: line-through;
      &:hover {
        color: black;
      }
    }
  }
}
