.layout {
  overflow: hidden;
  background: var(--color-bg);
  display: grid;
  height: calc(100vh - 2px);
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 3.2rem 1fr 3.2rem;
}
.grid-header {
  grid-area: header;
}
.grid-main {
  max-width: 100vw;
  grid-area: main;
  min-height: calc(100% - 3.2rem);
  @media (min-width: 1024px) {
    min-height: calc(100vh - 2.9rem);
  }
}
.grid-footer {
  grid-area: footer;
}
