.comment {
  max-width: 100%;
  margin: 0.5rem 0;
  display: flex;
  flex-flow: column nowrap;
  &:last-of-type {
    padding-bottom: 1rem;
  }
  &--kid {
    padding-left: 2rem;
  }
  &__username {
    margin-right: 1rem;
  }
  &__author {
    margin-right: 0.5rem;
  }
  &__meta {
    font-size: 0.8rem;
    font-family: "PT Mono", monospace;
    display: flex;
    flex-flow: row nowrap;
  }
  &__text {
    max-width: 100%;
    color: var(--color-comment-text);
    line-height: 1.5;
    pre {
      overflow-y: auto;
    }
    p {
      margin: 0.6rem 0;
    }
    a {
      background-color: var(--color-sm-post-bg);
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
.comment-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
  color: var(--color-comment-top);
}
