.header {
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
  &__app-title {
    font-size: 1.8rem;
    font-weight: 700;
  }
  &__menu {
    cursor: pointer;
    width: 30px;
    height: 21px;
    @media (min-width: 1024px) {
      display: none;
    }
    span {
      display: block;
      width: 100%;
      height: 2px;
      background: var(--color-text);
      margin-bottom: 7px;
      transition: width 0.5s ease;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &:hover span:nth-of-type(1) {
      width: 30%;
    }
    &:hover span:nth-of-type(2) {
      width: 50%;
    }
    &:hover span:nth-of-type(3) {
      width: 70%;
    }
  }
  &__login {
    cursor: pointer;
    font-weight: 700;
    border: none;
    background: transparent;
  }
}
.nav-list {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
  }
  &__link {
    cursor: pointer;
    font-weight: 700;
    margin-right: 1rem;
    &:hover {
      color: var(--color-accent);
    }
    &:last-of-type {
      margin-right: 0;
    }
    &--tbd {
      cursor: auto;
      text-decoration: line-through;
    }
  }
}
