@import '../../mixins.scss';

.post {
  padding: 1rem;
  width: 95%;
  margin: 0.5rem auto;
  display: grid;
  align-items: center;
  border-radius: var(--border-radius);
  grid-template-rows: 3fr repeat(2, 1fr);
  grid-template-areas:
    "name"
    "meta"
    "comments";
  &:hover {
    background-color: var(--color-sm-post-bg);
  }
  @media (min-width: 1024px) {
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-areas:
      "name name"
      "meta comments";
  }
  &--name {
    grid-area: name;
  }
  &--meta {
    grid-area: meta;
  }
  &--comments {
    grid-area: comments;
  }
  &__name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__comments {
    @include button();
    width: 100%;
    height: 2.1rem;
  }
  &__meta {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
    height: 2.1rem;
    background-color: var(--color-second);
    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
    &--item {
      text-align: center;
      border-radius: var(--border-radius);
    }
  }
}
