:root {
  --color-text: black;
  --color-second: #ffb775;
  --color-bg: #ffeede;
  --color-sm-post-bg: #ffe3d7;
  --color-sidenav-bg: #ffe3d7;
  --color-button: #ff7575;
  --color-accent: #ff7575;
  --color-button-hover: rgba(255, 117, 117, 0.8);
  --color-darker-sm-post-bg: #f5d5c6;
  --color-sidenav-text: #ffb0b0;
  --color-comment-text: #222222;
  --color-comment-top: crimson;

  --border-radius: 12px;
}

@import "normalize.scss";
@import "reset.scss";
@import "mixins.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nunito", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
