@mixin button() {
  cursor: pointer;
  background-color: var(--color-button);
  text-align: center;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  &:hover {
    background-color: var(--color-button-hover);
  }
}
